{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row board-egde">
    <div class="board">
      <table>
        <tr>
          <td class="position-marker"></td>
          <td class="position-marker">1</td>
          <td class="position-marker">2</td>
          <td class="position-marker">3</td>
          <td class="position-marker">4</td>
          <td class="position-marker">5</td>
          <td class="position-marker">6</td>
          <td class="position-marker">7</td>
          <td class="position-marker">8</td>
          <td class="position-marker">9</td>
          <td class="position-marker">10</td>
          <td class="position-marker">11</td>
          <td class="position-marker">12</td>
          <td class="position-marker">13</td>
          <td class="position-marker">14</td>
          <td class="position-marker">15</td>
        </tr>
        {{range $i, $e := .board.Tiles}}
          <tr>
            <td class="position-marker">{{letterMarker $i}}</td>
            {{range .}}
              <td class="tile {{if ne .Type 1}}highlight-tile{{else}} {{if ne .CSS "empty-tile"}}shadow-tile{{end}} {{end}} {{.CSS}}">
                {{if ne .Type 1}}
                  {{if ne .CSS "double-word centre-star"}}
                    {{.Type}}
                  {{end}}
                  {{if ne .Value ""}}
                    {{raw .Value}}
                  {{end}}
                {{end}}
              </td>
            {{end}}
          </tr>
        {{end}}
      </table>
    </div>
    <div class="pieces">
      <table>
        {{range .board.Tiles}}
          <tr>
            {{range .}}
              <td class="letter {{if ne .Value ""}}placed{{end}}">
                {{if ne .Value ""}}
                  {{.Value}}
                  <div class="points">
                    {{.Points}}
                  </div>
                {{end}}
              </td>
            {{end}}
          </tr>
        {{end}}
      </table>
    </div>
    <div class="stats">
      <img src="/public/img/Scrabble-logo.png" width="422" alt="">
      <div>
        <img class="stats-title" src="/public/img/dl_gopher.png" height="125" width="auto" alt="">
        <div class="stats-title" id="bag">
          <h5 class="">Stats</h5>
          <label class="stats-label" for="bag">Letters Remaining:</label>
          <span class="stat-value">{{len .bag.Letters}}</span>
        </div>
      </div>

      <div class="rack">
        {{range .rack}}
          <div class="letter tile placed item">
            {{.Name}}
            <div class="points">
              {{.Value}}
            </div>
          </div>
        {{end}}
        <div class="word">
          <h6>My Word</h6>
          {{range .rack}}
            <div class="item letter">
              &nbsp
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.querySelector(".rack").grabbable();
</script>
{{template "footer.html" .}}
